/*
--3xl-gap = 240px
--2xl-gap = 160px
--xl-gap = 80px
--large-gap = 40px
--medium-gap = 20px
*/

:root {
    --3xl-gap: clamp(1.25rem, -1.9231rem + 14.1026vw, 15rem);
    --2xl-gap: clamp(5rem, 3.8462rem + 5.1282vw, 10rem);
    --xl-gap: clamp(1.25rem, 0.3846rem + 3.8462vw, 5rem);
    --large-gap: clamp(1.25rem, 0.9615rem + 1.2821vw, 2.5rem);
    --medium-gap: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
    --small-gap: 8px;

    --svg-size: clamp(10rem, 7.6923rem + 10.2564vw, 20rem);
    --circle-size: clamp(1rem, 0.7692rem + 1.0256vw, 2rem);
    --icon-size: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    --border-size: clamp(0.1875rem, 0.1442rem + 0.1923vw, 0.375rem);
    --line-offset: clamp(0.4375rem, 0.3654rem + 0.3205vw, 0.75rem);

    --primary-color: #000;
    --secondary-color: #999;
    --background-color: #FFF;

    --2xl-text: clamp(3rem, 1.3846rem + 7.1795vw, 10rem);
    --xl-text: clamp(2rem, 1.9231rem + 2.5641vw, 5rem);
    --large-text: clamp(1.5rem, 0.6538rem + 1.5385vw, 2.5rem);
    --medium-text: clamp(0.9rem, 0.5769rem + 0.7692vw, 1.5rem);
}