@import url(./reset.css);
@import url(./font.css);
@import url(./settings.css);
@import url(./animation.css);

@import url(./header.css);
@import url(./footer.css);





/* --- GLOBAL STYLE --- */

h1 {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

h2 {
    font-family: "All Round Gothic";
    text-transform: uppercase;
    font-size: var(--large-text);
    margin-bottom: var(--large-gap);
}

h3, p, li {
    font-family: "Montserrat";
    font-size: var(--medium-text);
    line-height: 1.2;
}

h3, p b, li b, li em {
    font-weight: bold;
}

li em {
    color: var(--secondary-color);
}

a:link, a:visited {
    color: var(--primary-color);
}

a:hover, a:active {
    color: var(--primary-color);
}





/* --- MAIN --- */

.flow {
    margin: var(--2xl-gap) var(--3xl-gap);
}

.flow section {
    margin-bottom: var(--2xl-gap);
}

.double-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--large-gap);
    @media (max-width: 1080px) {
        grid-template-columns: 1fr;
    }
}

.triple-col {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--large-gap);
    @media (max-width: 1080px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.text-with-img {
    display: flex;
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.text-with-img svg {
    height: var(--svg-size);
    @media (max-width: 800px) {
        align-self: center;
        margin-top: var(--large-gap);
    }
}

.text-with-img > div {
    @media (min-width: 801px) {
        max-width: 60%;
        margin-right: auto;
    }
}

.cards-list li {
    display: flex;
    align-items: center;
    border: var(--border-size) var(--primary-color) solid;
    border-radius: 30px;
    @media (max-width: 600px) {
        border-radius: 20px;       
    }
}

.cards-list li svg {
    width: var(--icon-size);
    height: 42px;
    margin-right: var(--medium-gap);
}

.cards-list li a {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.cards-list li span, .cards-list li a span {
    align-self: center;
    
}

.cards-list li:hover {
    transition: ease-out 0.15s;
    background-color: var(--primary-color);
    color: var(--background-color);
    fill: var(--background-color);
}

.cards-list li:hover a {
    transition: ease-out 0.15s;
    color: var(--background-color);
}

.cards-list li:after {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}





/* --- INDEX --- */

.index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index h2 {
    text-align: center;
    font-size: var(--xl-text);
    margin-top: 27.5vh;
}

.index h2 b, .index h2 strong {
    font-size: var(--2xl-text);
    text-align: center;
}

.index a, .index span {
    font-family: "Nanum Pen Script";
    text-transform: uppercase;
    font-size: var(--large-text);
}

.index ul {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: var(--xl-gap);
    position: absolute;
    bottom: 40px;
    @media (max-width: 800px) {
        flex-direction: column;
        margin-bottom: var(--medium-gap);
    }
}

.index ul li {
    display: flex;
    align-items: center;
    transform: rotate(-5deg);
}

.index ul li svg {
    width: var(--icon-size);
    aspect-ratio: 1;
    margin-right: var(--medium-gap);
}

.decorations {
    display: none;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}






/* --- ABOUT --- */

.timeline {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.timeline li {
    display: flex;
    align-items: center;
}

.timeline li + li {
    margin-bottom: var(--large-gap);
}

.timeline svg {
    aspect-ratio: 1;
    width: var(--circle-size);
    min-width: 20px;
    margin-right: var(--large-gap);
}

.timeline::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--primary-color);
    left: var(--line-offset);
}

.skills .cards-list li {
    padding: 20px;
    cursor: help;
}

.skills .cards-list li:hover span {
    display: none;
}

.web-design:hover:after {
    content: "Pour mes maquettes interactives !";
}

.graphism:hover:after {
    content: "Pour présenter mes projets !";
}

.illustration:hover:after {
    content: "Pour ajouter de la vie à mes projets !";
}

.front-end:hover:after {
    content: "Pour de jolies pages web !";
}

.back-end:hover:after {
    content: "Pour des pages web fonctionnelles !";
}

.versioning:hover:after {
    content: "Pour stocker et gérer mon code !";
}

.mobile:hover:after {
    content: "Pour des applications mobile !";
}





/* --- PROJECT --- */

.preview-list {
    margin-bottom: var(--2xl-gap);
}

.preview-list a {
    text-decoration: none;
}

.preview-list a h3 {
    display: block;
    margin-top: var(--medium-gap);
    text-align: center;
    text-transform: uppercase;
}

.preview-list a:hover svg {
    transform: scale(1.05) rotate(-5deg);
    transition: ease-in-out 0.15s;
    transform-origin: 50% 50%;
}

.preview-list a:hover h3 {
    text-decoration: underline;
}

